<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tasks{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="sidebar">
        <!-- Кнопка профиля -->
        <div class="profile-button">
            <a href="{{ url_for('profile') }}">👤 Профиль</a>
        </div>

        <!-- Список разделов -->
        <div class="sections">
            <h3>Разделы</h3>
            <div class="sections-list">
            <ul id="sections-list">
                <button onclick="location.href='/'">Все разделы</button>
                {% for section in sections %}
                <button onclick="location.href='/?section={{ section.section_url }}'"><strong>{{ section.section }}</strong></button>
                {% endfor %}
                <div class="add_category" id="add_category">
                    <div class="add_category_content">
                        <form id="addSectionForm" method="POST" action="/section_create" novalidate>
                            {{ add_section.hidden_tag()}}
                            {{ add_section.category() }}{{add_section.submit(id="submitAddCategory")}}
                        </form>
                    </div>
                </div>
                <button class="new_section" id="new_section" action='open'>&#10133; Добавить раздел</button>
            </ul>
                </div>
        </div>
        <div id="notification-container"></div>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
