{# templates/habits.html #}
{% extends "base.html" %}
{% block content %}
<!-- Модальное окно -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <form id="addTaskForm" method="POST" action="/task_create" novalidate>
            {{ form.hidden_tag() }}
            <!-- Поле ввода имени задачи -->
            <div class="form-group">
                {{ form.name(size=32) }}
            </div>
            <div class="form-group">
                {{ form.category.label }}
                {{ form.category }}
            </div>


            <!-- Поле ввода описания задачи -->
            <div class="form-group">
                {{ form.description.label }}
                {{ form.description(size=265) }}
            </div>

            <!-- Кнопка подтверждения -->

            {{ form.submit(class_="submit-button", id="submit-button") }}
        </form>
    </div>
</div>
    <div class="task-menu">
        <!-- Текущая дата -->
        <div class="date" id="current-date">{{ today_date }}</div>

        <!-- Кнопки управления задачами -->
        <div class="task-buttons">
            <button id="openModal">Добавить задачу</button>
            <button onclick="deleteTask()">Удалить задачу</button>
        </div>

        <!-- Список задач -->
        <div class="tasks-container">
            {% for task in task_list %}
                <div class="task-card">
                    <!-- Кнопка выполнения -->
                    <div class="task-status">
                    {% if task.progress %}
                        <button class="status-button completed" title="Выполнено">✔</button>
                    {% else %}
                        <button class="status-button incomplete" title="Не выполнено">✖</button>
                    {% endif %}
                    </div>

                <!-- Название задачи -->
                <h4 class="task-title">{{ task.name }}</h4>

                <!-- Описание задачи -->
                <p class="task-description">{{ task.desc }}</p>
    </div>
    {% endfor %}
</div>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}">
    </script>
{% endblock %}
